<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>
  <h1>Hello News World</h1>
  <div id="description">
    <p>Test tech crunch</p>
  </div>
  <div id="test">
    <button id="newsButton" class="search search-content" type='submit'>Submit</button>
  </div>
  <div id="results">
    <div id="newsapi_column">
      <div id="nalogo"></div>
      <ul>
        <!-- News API Content-->
        Click on the button above to replace me with news!
      </ul>
    </div>

</html>
