<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <header id="header" class="none">
    <h1>Hello News World</h1>
  </header><!-- /header -->

  <div id="left_column">
    <div id="description">
      <h3>News Feed</h3>
    </div>
    <div id="test">
      <button id="techButton" class="search search-content" type='submit'>tech</button><br><br>
      <button id="hackernewsButton" class="search search-content" type='submit'>hackernews</button><br><br>
      <button id="recodeButton" class="search search-content" type='submit'>recode</button><br><br>
    </div>
  </div>

  <div id="newsapi_column">
    <ul>
      <!-- News API Content-->
      Click on the button above to the left to replace me me with news!
    </ul>
  </div>

  <div id="snews_column">
    <ul>
      <h3>Saved Stories</h3>

    </ul>
  </div>
</body>
</html>
