<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <header id="header" class="none">
    <h1>Hello News World</h1>
  </header><!-- /header -->

  <div id="left_column">
    <div id="description">
      <p>Test recode</p>
    </div>
    <div id="test">
      <button id="newsButton" class="search search-content" type='submit'>Submit</button>
    </div>
  </div>

  <div id="newsapi_column">
    <ul>
      <!-- News API Content-->
      Click on the button above to the left to replace me me with news!
    </ul>
  </div>

  <div id="snews_column">
    <ul>
      <h3>Saved Stories</h3>
      <% news.forEach( story => { %>
      <li>
        <a href="/story/<%= story.story_id %>">
          <%= story.story_title %> <%= story.story_desc %>
        </a>
      </li>
      <% }); %>
    </ul>
  </div>
</body>
</html>
